


CREATE TABLE restrict_ips (
    id BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
    ip VARCHAR(20) NOT NULL,
    access VARCHAR(20) NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    deleted_at TIMESTAMP NULL
);

php artisan make:model RestrictIp
php artisan make:controller Restrict/RestrictIpController --api



//- CREATE TABLE eventsoffice (
//-     id BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
//-     name VARCHAR(50) NOT NULL,
//-     office VARCHAR(10) NOT NULL,
//-     created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
//-     updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
//-     deleted_at TIMESTAMP NULL
//- );



//- ALTER TABLE events
//- ADD COLUMN pnte_id BIGINT UNSIGNED NULL AFTER user_id,
//- ADD CONSTRAINT fk_pnte_id FOREIGN KEY (pnte_id) REFERENCES eventsoffice(id) ON DELETE SET NULL ON UPDATE CASCADE;


//- CREATE TABLE events (
//-     id BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,

//-     id_pnte BIGINT UNSIGNED NOT NULL,
//-     title VARCHAR(255) NOT NULL,
//-     organiza VARCHAR(150) NULL,
//-     numMypes VARCHAR(10) NULL,
//-     date DATE NOT NULL,
//-     start TIME NULL,
//-     end TIME NULL,
//-     description VARCHAR(255) NULL,
//-     nameUser VARCHAR(100) NULL,
//-     link VARCHAR(150) NULL,

//-     user_id BIGINT UNSIGNED NOT NULL,
//-     created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
//-     updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
//-     deleted_at TIMESTAMP NULL,

//-     -- Claves foráneas
//-     FOREIGN KEY (user_id) REFERENCES users(id) ON DELETE CASCADE,
//-     FOREIGN KEY (id_pnte) REFERENCES eventsoffice(id) ON DELETE CASCADE
//- );



//- ALTER TABLE people
//- ADD COLUMN updated_by BIGINT UNSIGNED NULL AFTER gender_id,
//- ADD CONSTRAINT fk_updated_by FOREIGN KEY (updated_by) REFERENCES users(id) ON DELETE SET NULL;


//- CREATE TABLE pnteSoft (
//-     id BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
//-     name VARCHAR(255) NOT NULL,
//-     created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
//-     updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
//- );

//- ALTER TABLE attendancelist
//- ADD COLUMN eventsoffice_id BIGINT UNSIGNED NULL AFTER id,
//- ADD CONSTRAINT fk_eventsoffice_id FOREIGN KEY (eventsoffice_id) REFERENCES eventsoffice(id) ON DELETE SET NULL;


CREATE TABLE workshop (
    id BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
    workshopName VARCHAR(250) NOT NULL,
    date DATE NOT NULL,
    hour VARCHAR(20) NOT NULL,
    link VARCHAR(255) NOT NULL,
    description TEXT,
    expositor VARCHAR(100),
    status_inv TINYINT(1) NOT NULL DEFAULT 0,
    status_te TINYINT(1) NOT NULL DEFAULT 0,
    status_ts TINYINT(1) NOT NULL DEFAULT 0,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    deleted_at TIMESTAMP NULL
);


php artisan make:controller Workshop/WorkshopController --resource




//- ALTER TABLE events
//- ADD COLUMN city_id BIGINT UNSIGNED NULL AFTER title,
//- ADD CONSTRAINT fk_city_id FOREIGN KEY (city_id) REFERENCES cities(id) ON DELETE SET NULL;


//- ALTER TABLE events
//- ADD COLUMN rescheduled TEXT AFTER resultado;


//- ALTER TABLE events
//- ADD COLUMN canceled TEXT AFTER rescheduled;



//- CREATE TABLE cdesType  (
//-     id BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
//-     name VARCHAR(255) NOT NULL,
//-     created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
//-     updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
//- );

//- insert into cdesType (name) values
//- ('CDE'),
//- ('CDEAI AGENTE INSTITUCIONES'),
//- ('CDEAN AGENTE NOTARÍAS');

//- ALTER TABLE cdes
//- ADD COLUMN cdetype_id BIGINT UNSIGNED NULL AFTER notary_id,
//- ADD CONSTRAINT fk_cdetype_id FOREIGN KEY (cdetype_id) REFERENCES cdesType(id) ON DELETE SET NULL;



//- ALTER TABLE events
//- ADD COLUMN province_id BIGINT UNSIGNED NULL AFTER city_id,
//- ADD COLUMN district_id BIGINT UNSIGNED NULL AFTER province_id,
//- ADD CONSTRAINT fk_events_province FOREIGN KEY (province_id) REFERENCES provinces(id),
//- ADD CONSTRAINT fk_events_district FOREIGN KEY (district_id) REFERENCES districts(id);



//- ALTER TABLE cdes
//- ADD COLUMN city_id BIGINT UNSIGNED NULL AFTER cdetype_id,
//- ADD COLUMN province_id BIGINT UNSIGNED NULL AFTER city_id,
//- ADD COLUMN district_id BIGINT UNSIGNED NULL AFTER province_id,
//- ADD CONSTRAINT fk_cdes_city FOREIGN KEY (city_id) REFERENCES cities(id) ON DELETE SET NULL,
//- ADD CONSTRAINT fk_cdes_province FOREIGN KEY (province_id) REFERENCES provinces(id) ON DELETE SET NULL,
//- ADD CONSTRAINT fk_cdes_district FOREIGN KEY (district_id) REFERENCES districts(id) ON DELETE SET NULL;



//- ALTER TABLE `profiles`
//- ADD COLUMN `rol_id` BIGINT UNSIGNED NULL AFTER `notary_id`,
//- ADD CONSTRAINT `fk_profiles_roles`
//- FOREIGN KEY (`rol_id`) REFERENCES `roles`(`id`);




MGEA: K0jLf3IX_7nIPMLt9RF3VQ




SELECT
    CONCAT(
      REGEXP_REPLACE(JSON_UNQUOTE(JSON_EXTRACT(gastos, '$[0].gasto')), '<[^>]+>', ''),
      ' ',
      REGEXP_REPLACE(JSON_UNQUOTE(JSON_EXTRACT(gastos, '$[0].condicion')), '<[^>]+>', '')
    ) AS gastos_limpios
FROM
    notaries;



    SELECT
    CONCAT(
      REGEXP_REPLACE(JSON_UNQUOTE(JSON_EXTRACT(gastos, '$[0].gasto')), '<[^>]+>', ''),
      ' ',
      REGEXP_REPLACE(JSON_UNQUOTE(JSON_EXTRACT(gastos, '$[0].condicion')), '<[^>]+>', '')
    ) AS gastos_limpios
FROM
    notaries;






    UPDATE notaries
SET biometrico = REGEXP_REPLACE(biometrico, '<[^>]+>', '');



UPDATE notaries
SET sociointerveniente = REGEXP_REPLACE(sociointerveniente, '<[^>]+>', '');



ALTER TABLE notaries
ADD COLUMN tarifa1 VARCHAR(100) NULL AFTER gastos,
ADD COLUMN tarifa2 VARCHAR(100) NULL AFTER tarifa1,
ADD COLUMN tarifa3 VARCHAR(100) NULL AFTER tarifa2,
ADD COLUMN tarifa4 VARCHAR(100) NULL AFTER tarifa3;



UPDATE notaries
SET status = 1;




CREATE TABLE typecompanies  (
    id BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(50) NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
);

INSERT INTO typecompanies (name)
VALUES
  ('EIRL'),
  ('SAC'),
  ('SRL'),
  ('Persona Natural con Negocio');



ALTER TABLE mypes
ADD COLUMN typecompany_id BIGINT UNSIGNED AFTER economicsector_id,
ADD CONSTRAINT fk_typecompany
  FOREIGN KEY (typecompany_id)
  REFERENCES typecompanies(id)
  ON DELETE RESTRICT
  ON UPDATE CASCADE;
